<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>

    <div th:replace="fragments :: pageHead"></div>

    <div th:replace="fragments :: navigation"></div>

    <br>

    <div id="newsBox">
        <div id="newsTitle">
            <h2 >Fitness News</h2>
            <p>Coming Soon</p>
        </div>

        <div id="newstitle"></div>
        <div id="description"></div>
        <div id="feedback"></div>



    </div>

</body>
</html>