<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

    <script type="text/javascript" th:src="@{/JS/SubmitValidation.js}" ></script>
</head>
<body>

<div th:replace="fragments :: pageHead"></div>

<div th:replace="fragments :: navigation"></div>

<br>

<div th:text="${createWorkoutNameError}"></div>
<div th:text="${createWorkoutDescriptionError}"></div>

<form method = "post">

    <label >Workout Name</label>
    <input type="text" name="workoutName" th:value="${createWorkoutNameHolder}"/>

    <label >Workout Description</label>
    <input type="text" name="workoutDescription"/>

    <input class="btn btn-secondary" type="submit" name="action" value="Create Workout">

<br><br>

    <table class="WOTable">

        <!--
        <tr>
            <th>&nbsp;</th>
            <th>Workout Name</th>
            <th>Workout Description</th>
            <th>User</th>
        </tr>
        -->

        <tr th:each="workout : ${workouts}" class="radio">
            <td>
                <input type="radio" name="workoutIds" th:value="${workout.Id}" th:id="workout.Id" checked/>
            </td>
            <td>
                <label th:text="${workout.workoutName}"></label>
            </td>
            <td>
                <label th:text="${workout.workoutDescription}"></label>
            </td>
            <td>
                <label th:text="${workout.workoutUserName}"></label>
            </td>
        </tr>
    </table>

    <br><br>


    <input class="btn btn-secondary" type="submit" name="action" value="Edit">
 </form>

 </body>
 </html>